input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border:1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #282828;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  }
h1,h2,h3 {
  margin: 0 0 35px 0;
  font-family: "Patua One" cursive;
  font-weight: lighter;
  font-size: 50px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.6 em;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  font-size: 40px;
}
.media{
  position: absolute;
  top: 40%
  left: 50%
  transform: translate)-53%, -50
}
li {
  list-style; none;
  margin: 10px 30px;
  font-size: 20px
  padding: 20px 20px;
  border-radius: 30%;
  transition: .5s;
}
label {
margin: 0 0 20px;
font-size: 10px;
line-height: 1.6 em;
font-weight: lighter;
color: #fff;
text-align: center;
font-size: 40px;

}
