input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border:1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  }
h1,h2,h3 {
  margin: 0 0 35px 0;
  font-family: "Patua One" cursive;
  text-transform: uppercase;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.6 em
}
{
  color:#26a5d3;
}
a: hover,a:focus{
  text-decoration: none;
  color: #26a5d3;
}
#body {
  background: #333333;
  color:#f4f4f4;
}
.fa {
padding: 20px
fontsize: 100px
width: 50px
text-align: center;
text-decoration: none;
border-radius: 50%
}
.fa:hover {
  opacity: 0.7;
}
.fa-Facebook {
  background: #3B5998;
  color: white;
}
fa fa-twitter {
  background: #55ACEE;
  font-size: 50px
  color:blue;
}
