body {
    background-position: center;
    background-size: cover;
    text-align: center;

}

  h1 {text-align:center;
    font-size: 40px;
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    padding-top: 123px;
}
p {text-align:center;
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  line-height: 10px;
  background-color: white;
  opacity: 0.5;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    background-color: #FFFFFF;
    opacity: 0.5;
    position: sticky;
    top: 0;
    width: 100%;
}

li  {
    display: inline;
}

a {
    padding: 20px;
}

#home {
  background: url("../sheff.png");
}

#monika {
  margin-left: 109px;
  margin-right: 108px;

}

img {
  opacity: 0.80;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  height: 360px;
  width: 515px;

}
img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */

}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffcc;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
