#home {
  background: url("../sheff2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


#home h1 {
  padding-top: 500px;
  font-size: 45px;
  background-position: center;
  background-size: cover;
  text-align: right;
  color: white;
}

ul {
  list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
   overflow: hidden;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-color: black;
    font-weight: bold;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
footer {
  text-align:center;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  line-height: 35px;
  background-color: white;
}


#saff
.col-1 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

*, ::after, ::before  {
  box-sizing: border-box;
}

img.rounded-circle  {
  align-content: inline;
  padding: 3px;
  width: 150px;
  height: 150px;
}
#saff h2 {text-align: left;}
.col-2 {align:left;}

.rounded-circle{
  border-radius: 50%!important;
}
h1 {text-decoration: underline; font-size: 50px; color:black; text-align: left;}
img {
  vertical-align: inline;
  border-style: none;
}

.mapouter {
    align-items: inline;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 400px;
    background-color:#333;
    }
    a {color: black;}
[role=button], a, area, button, input:not([type=range]), label, select, summary, textarea {
    touch-action: manipulation;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
#olivia

.header {background:cover; align-items: center; align-content: center; padding:0;}
#olivia h1 {text-decoration: underline; font-size: 80px; color:black; text-align: center;}

#monika {
  padding-left: 410px;
}

img {
  opacity: 0.80;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  height: 360px;
  width: 515px;

}
img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */

}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffcc;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
